table, tbody, tr, thead, th, td {
	border: 1px solid black;
}

h1 {
	margin-top: 0;
}

/*h1, h2, h3, h4, h5, h6,  */
h4, author, date {
  text-align: center;
}

body {
  text-align: justify;
  font-size: large;
  margin: 5% 12% 8% 12%;
  font-family: Monserrat, Product Sans, sans-serif;
}

